body {

}


thead th 
{
    cursor: pointer;
    border:none;
    text-align:center;
}
tbody td
{
    padding-top: 20px;
    padding-bottom: 20px;
    border:none;
    border-bottom: 1px solid #555;
}
